<!DOCTYPE html>
<head>
    <!--datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--jqry-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- JS bustra-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--Datatable-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
</head>

<body>
    <center><h1>Acciones aplicadas máquinas cliente</h1></center><br><br>
    {% if data %}
        <div class="container">
            <table id="tabla" class = "table table-hover" cellspacing="0" width="100%"> 
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Funcion</th>
                        <th>Síntoma</th>
                        <th>Puerto o IP</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr>
                            <td>{{i.Cliente}}</td>
                            <td>{{i.Funcion}}</td>
                            <td>{{i.Sintoma}}</td>
                            <td>{{i.Port}}</td>
                            <td>{{i.Fecha}}</td>
                            <td>{{i.Hora}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>       
        </div>
    {% else %}
        <center><p>No hay acciones realizadas.</p></center>
    {% endif %}
</body>
</html>

<!--DataTable y Paginación-->
<script>
    $(document).ready( function () {
        $('#tabla').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "aaSorting": []
        });
    });
</script>